.card {
	max-width: 75%;
	margin: 5% auto;
}
i {
	font-size: 4em;
	color: black;
	text-decoration-line: none;
}
a i:hover {
	color: rgb(77, 77, 77);
	text-decoration-line: none;
}
.paginate /deep/ .ngx-pagination .current {
	margin: 2% auto;
	color: white;
	background-color: black;
}
.page {
	background-color: rgb(255, 255, 255);
	margin: 4.5% auto;
	padding: 0%;
	width: 35%;
}
