<div class="container">
    <div class="row">
  <div class="col-lg-8 col-md-6 col-sm-12">
    <h1 class="cover-heading">Vote for your favourite post.</h1>
    <p class="lead">You can view, search and respond to your favourite posts.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12" id="container">
    <h2>Subscribe to Newsletter!</h2>
    <form>
      <section>
          <div class="element">
              <input type="email" name="email" id="email" placeholder="Enter email">
          </div>
              <a href="#" id="login" class="btn btn-lg btn-secondary" type="submit">Subscribe</a>
      </section>
  </form>
  </div>
</div>
</div>
