<div class="container-fluid">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand pt-2">Voting System</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
      <a href ="#" id="register" class="btn btn-secondary btn-lg">Register</a>
    </div>
  </header>
  <div class="container">
    <div class="row">
  <div class="col-lg-8 col-md-6 col-sm-12">
    <h1 class="cover-heading">Vote for your favourite post.</h1>
    <p class="lead">You can view, search and respond to your favourite posts.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12" id="container">
    <h2 class="justify-content-center">Log In</h2>
    <form>
      <section>
          <div class="element">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" placeholder="Enter email">
          </div>
          <div class="element">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter password">
        </div>
              <a href="#" id="login" class="btn btn-lg btn-secondary" type="submit">Log In</a>
      </section>
  </form>
  </div>
</div>
</div>
</div>