<div class="container-fluid">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand pt-2">Voting System</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" routerLink="">Home</a>
        <a routerLink="dashboard" class="nav-link" >About</a>
        <a class="nav-link" routerLink="admin">Contact</a>
        <a class="nav-link" routerLink="create">FAQ</a>
      </nav>
      <a routerLink="login" id="login" class="btn btn-secondary btn-lg">Login</a>
    </div>
  </header>
  <router-outlet></router-outlet>
  <!-- <app-home></app-home> -->
  <hr>
</div>
