.container {
	margin: 5% auto;
	padding: 5%;
	max-width: 45%;
	background-color: black;
	border-radius: 10px;
	color: white;
}
.container header h1 {
	text-align: center;
	margin-bottom: 3%;
}
.element label {
	display: block;
	margin: 1% auto;
	padding: 1%;
	font-size: 1.2em;
}
.element input {
	width: 100%;
	color: #ddd 1px solid;
	border-radius: 5px;
	padding: 1%;
	font-size: 1.2em;
}
.btn {
	margin: 5%;
	margin-left: 35%;
}
