<div id="container">
    <form>
        <header>
            <h1>LOG IN</h1>
        </header>
        <section>
            <div class="element">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Enter Email" [(ngModel)]="email">
            </div>
            <div class="element">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter Password" [(ngModel)]="password">
            </div>
            <a class="btn btn-lg btn-secondary" (click)="loginUser()">Login</a>
        </section>
        <a href="#" id="forgot">Forgot Password?</a>
    </form>
</div>
