<div id="container">
    <form>
        <header>
            <h1>LOG IN</h1>
        </header>
        <section>
            <div class="element">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter Email">
            </div>
            <div class="element">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter Password">
            </div>
            <a class="btn btn-lg btn-secondary">Login</a>
        </section>
        <a href="#" id="forgot">Forgot Password?</a>
    </form>
</div>
